
$font-family-sans-serif: 'Fira Sans', sans-serif;

$light: #F9FFFF;
$secondary: #C0CDD0;
$primary: #738692;
$dark: #364257;
$danger: #DE425B;

$navbar-dark-color:                 $light;
$navbar-dark-hover-color:           $secondary;
$navbar-dark-active-color:          $secondary;
$navbar-dark-disabled-color:        $primary;

$nav-link-color:                    $secondary;
$nav-link-hover-color:              $light;
$nav-link-disabled-color:           $primary;    
