
$headings-font-family: 'PT Serif', serif;
$font-family-sans-serif: 'Fira Sans', sans-serif;
$light: #F9FFFF;
$secondary: #C0CDD0;
$primary: #738692;
$dark: #364257;
$danger: #DE425B;

$navbar-dark-color:                 $secondary;
$navbar-dark-hover-color:           $light;
$navbar-dark-active-color:          $light;
$navbar-dark-disabled-color:        $primary;