<div class="position-relative mb-4">
    <div class="position-absolute top-0 end-0 translate-middle-y">
        <a class="nav-link" href='/dashboard/{{adminId}}'>
            <button type="button" class="btn btn-secondary btn-sm shadow-sm">Back to Dashboard</button>
        </a>
    </div>
</div>