    <div class="col-md-5 d-none d-md-block">
      <div class="card ms-5 mb-4 mt-4 shadow">
        <img class="card-img-top" src="../img/chair-1.png" alt="chair">
        <div class="card-body bg-primary">
          <img src="../img/logo_light.png" class="mw-100" alt="be|seated logo">
        </div>
      </div>
    </div>