<div class="p-2 justify-content-start border rounded mt-2">
    <div class="d-flex row">
        <h5 class="fw-bold">Step 2- Upload your seating chart</h5>

    </div>

    <div class="dropdown row d-flex m-1">
        <a class="btn btn-dark dropdown-toggle text-light shadow-sm" href="#" role="button" id="dropdownMenuLink"
            data-bs-toggle="dropdown" aria-expanded="false">
            Select an event to add a seating chart
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {{#each events}}
            <li><a class="dropdown-item" href="../upload/{{adminId}}?eventId={{this.eventId}}">{{this.eventName}}</a>
            </li>
            {{/each}}
        </ul>
    </div>

    <form class="d-flex row">
        <input type="file" id="myFile" name="uploadfile" class="ms-3 mb-2">
                <div class="d-flex justify-content-end">

        <button type="submit" class="submitButton btn bg-danger text-light">Submit</button>
    </form>
</div>