<div class='modal show' id='delete-user-info' tabindex='-1' role='dialog'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Delete Guest</h5>
      </div>

      <div class='modal-body'>
        <form>
          <div class='form-group'>
            <label for='inputfirstName'>Guest First Name</label>
            <input type='text' class='form-control' id='guestdeleteFName' />
          </div>
          <div class='form-group'>
            <label for='inputlastName'>Guest Last Name</label>
            <input type='text' class='form-control' id='guestdeleteLName' />
          </div>
        </form>
      </div>

      <div class='modal-footer'>
        <button id='delete_GuestBtn' type='button' class='btn btn-primary'>Delete Guest</button>
        <button id='closeModalDelete'  type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>
</div>
