<div class="container vh-100">

    <div class="bg-dark mt-2">
        <img src="../img/logo_light.png" class="p-1 pt-4 pb-4 w-100" alt="be|seated logo">
    </div>

    <div class="pt-4">
        <div>
            <h2 class="text-center fw-bold font-monospace my-4 text-uppercase">Let's Party!</h2>
        </div>

        <section class="guestViewContainer bg-secondary mt-4 p-4">
            <!-- User Search  -->
            <button onclick="goBack()" type="button" class="px-3 me-3 btn-sm btn-danger text-light shadow-sm text-capitalize">search again</button>
            {{#if guests}}
            <div class="border border-dark rounded mt-2 p-2">
                <div class="d-grid justify-content-center">
                    {{#each guests}}
                    {{> table}}
                    {{/each}}
                </div>
            </div>
            {{else}}
            <div>There were no results found</div>
            {{/if}}
        </section>

    </div>
</div>

<script>
function goBack() {
  window.history.back();
}
</script>