<div class="card m-3">
    <div class="card-header">
        Table {{guest.tableNumber}}
    </div>
    <div class="card-body bg-light">
        {{#each tableNumber}}
            <div>
                {{firstName}} {{lastName}}
            </div>
        {{/with}}
    </div>
</div>