<div class="card m-3">
    <div class="card-header bg-dark text-light font-monospace pt-3">
       <h5 class="text-center">TABLE {{this.table}}</h5> 
    </div>
    <div class="card-body bg-light">
        <div class="ms-1">
            {{#each this.guests}}
                <div>
                    {{ this }}
                </div>            
          {{/each}}
        </div>
    </div>
</div>