<div class='modal show' id='user-info' tabindex='-1' role='dialog'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Update your guest</h5>
      </div>

      <div class='modal-body'>
        <form>
          <div class='form-group'>
            <label for='inputfirstName'>Guest First Name</label>
            <input type='text' class='form-control' id='guestFName' />
          </div>
          <div class='form-group'>
            <label for='inputlastName'>Guest Last Name</label>
            <input type='text' class='form-control' id='guestLName' />
          </div>
          <div class='form-group'>
            <label for='inputNewTable'>New Table Assignment</label>
            <input type='text' class='form-control' id='guestNewTable' />
          </div>
        </form>
      </div>

      <div class='modal-footer'>
        <button id='updateGuestBtn' type='button' class='btn btn-primary'>Update</button>
        <button id='closeModal'  type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>
</div>
