

<div class="container-md mt-5 bg-light p-5">
    {{> backToDashboard}}

    <h1>Create Seating</h1> 
   <div class="d-grid gap-1">
            <a href='/createevent/{{adminId}}' class="text-light">
                <button class="btn btn-dark bg-gradient p-3" type="button">Create Event
                    {{!-- <img src="../img/ArrowRight.png" class="ms-2"> --}}
            </a>
    </div> 
    <div>

<div class="dropdown m-3">
      <a class="btn btn-danger dropdown-toggle text-light shadow" href="#" role="button" id="dropdownMenuLink"
        data-bs-toggle="dropdown" aria-expanded="false">
        Select an event to add a seating chart
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {{#each events}}
        <li><a class="dropdown-item" href="../upload/{{adminId}}?eventId={{this.eventId}}">{{this.eventName}}</a></li>
        {{/each}}
      </ul>
    </div>

<form 
{{!-- action="/action_page.php" --}}
>
  <input type="file" id="myFile" name="uploadfile">
  <input type="submit" class="submitButton">
</form>

    </div>


<script src="/js/uploadSeating.js"></script>
{{!-- 

<script>

//var fs = require('fs');

//var cookieValue = connect.utils.parseSignedCookies(cookie, sessionKey);
//console.log(cookieValue)
//console.log(document.cookie)
//console.log(document.cookie['connect.sid']);
let cookie = document.cookie
console.log(window.location.href)
let href = window.location.href.split('=')
console.log(href)
let eventid = href[href.length - 1]
console.log('../api/file/uploadfile/'+eventid)

const uploadFormHandler = async (event) => {
    event.preventDefault();
  
    let uploadfile = document.getElementById('myFile').files[0];
    let formData = new FormData();
    formData.append('uploadfile', uploadfile)
    //const reader = new FileReader();

    console.log(uploadfile)
        console.log(formData)
    //console.log(reader.readAsText(myFile))
  

const response = await fetch(`../api/file/uploadfile/${eventid}`, {
     method: 'POST',
      body: formData,
     headers: {    "Cookie": cookie  }
     // headers: { "Content-Type": "multipart/form-data" }
   });
    //fetch('api/file/uploadfile/4', {method: "POST", body: formData});

}
  
document
    .querySelector('.submitButton')
    .addEventListener('click', uploadFormHandler);
    

</script> --}}