<div class="container-md mt-5 bg-light p-5">
    {{> backToDashboard}}

    <h1>Create Seating</h1> 
   
    
<form 
{{!-- action="/action_page.php" --}}
>
  <input type="file" id="myFile" name="uploadfile">
  <input type="submit" class="submitButton">
</form>


{{!-- <input type="file" name="file" id="file">
<button onclick="doupload()" name="submit">Upload File</button> --}}

{{!-- <form enctype="multipart/form-data" action="/file/uploadfile/4" method="post">
    <input id="image-file" type="file" />
</form> --}}
    {{!-- </div>

</div> --}}

{{!-- 
<script>
    function doupload() {
    let data = document.getElementById("file").files[0];
    let entry = document.getElementById("file").files[0];
    console.log('doupload',entry,data)
     fetch('api/file/uploadfile/4', {method:'PUT',body:data}); 
    //alert('your file has been uploaded');
    //location.reload(); --}}


{{!-- <script src="./js/uploadSeating.js"></script> --}}


<script>

//var fs = require('fs');

const uploadFormHandler = async (event) => {
    event.preventDefault();
  
    let uploadfile = document.getElementById('myFile').files[0];
    let formData = new FormData();
    formData.append('uploadfile', uploadfile)
    //const reader = new FileReader();

    console.log(uploadfile)
        console.log(formData)
    //console.log(reader.readAsText(myFile))
  

const response = await fetch('../api/file/uploadfile/4', {
     method: 'POST',
      body: formData,
     headers: {    "Cookie": "connect.sid=s%3ARcs_OtZ1c0WETbqVuJzBo-RFWAg_6Aiz.8pn02q91fZj7sNO5bqrsjROk0NIpb62vtoizzK84j1A"  }
     // headers: { "Content-Type": "multipart/form-data" }
   });
    //fetch('api/file/uploadfile/4', {method: "POST", body: formData});

}
  
document
    .querySelector('.submitButton')
    .addEventListener('click', uploadFormHandler);
    

</script>