<div class="container-md mt-5 bg-light p-5">
  <div class="row">
    <div class="d-grid col-5 mx-auto align-self-center justify-content-center">
      <div class="card col-md-6" style="width: 18rem;">
        <img class="card-img-top" src="../img/chair-1.png" alt="chair">
        <div class="card-body bg-primary">
           <img src="../img/logo_light.png" class="mw-100" alt="be|seated logo">
          <p class="card-text text-light">Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <form class="">
        <div class="mb-3">
          <label for="name-signup">Name</label>
          <input type="text" class="form-control" id="name-signup" placeholder="John Doe">
        </div>
        <div class="mb-3">
          <label for="email-signup">Email</label>
          <input type="text" class="form-control" id="email-signup" placeholder="email">
        </div>
        <div class="mb-3">
          <label for="password-signup">Create Password</label>
          <input type="text" class="form-control" id="password-signup" placeholder="password">
        </div>
        <div class="mb-3">
          <label for="password-signup">Confirm Password</label>
          <input type="text" class="form-control" id="password-signup" placeholder="password">
        </div>
        <div class="d-grid justify-content-md-end">
          <button type="submit" class="btn btn-danger text-light register" href='/dashboard/:id'>Register</button>
        </div>
      </form>

    </div>
    <div class="col-3"></div>
  </div>
</div>

<script src="./js/creteAccount.js"></script>