<h1>Guest Page</h1>
<div class="row">
    <div class="searchBox m-1 sm-1">
        <h3 class="searchInputHeader">To find your table, enter your first and last name:</h3>
        <div class="ui-widget">
        <input type="text" id="searchInput"></input>    
        </div>
        <br>
        <button type="submit" class="btn btn-outline-dark" id="searchBtn" click="renderGuestView">Search</button>
    </div>
</div>
<script src='/js/guestPage.js'></script>