<div class="container mt-5 bg-light p-5">

    <h4 class="p-3 pt-0 text-dark border-bottom">Some quick example text to explain the app and what it does.</h4>

    <div class="row d-flex justify-content-evenly">
        <div class="col-md-5 d-none d-md-block">
            <div class="card ms-5 mb-4 mt-4 shadow">
                <img class="card-img-top" src="../img/chair-2.png" alt="chair">
                <div class="card-body bg-primary bg-gradient">
                    <img src="../img/logo_light.png" class="mw-100" alt="be|seated logo">
                </div>
            </div>
        </div>
        <div class="col-md-6 justify-content-center">
            <form class="mt-3">
                <h5 class="text-dark">Have an account? Sign In:</h5>
                <div class="mb-3">
                    <input type="text" class="form-control" id="inputEmail" placeholder="email">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="inputPassword" placeholder="password">
                    <input type="checkbox" onclick="showPassword()"> Show Password
                </div>
                <div class="d-grid gap-1">
                    <button type="submit" class="btn btn-danger text-light loginForm">Sign in</button>
                    <a href="/createaccount" class="text-light">
                        <button class="btn btn-dark bg-gradient p-3" type="button">Create Account
                            <img src="../img/ArrowRight.png" class="ms-2">
                    </a>
                </div>
            </form>

        </div>
        <div class="col-md-4 d-md-none">
            <div class="card ms-5 mb-4 mt-4">
                <img class="card-img-top" src="../img/chair-2.png" alt="chair">
                <div class="card-body bg-primary bg-gradient">
                    <img src="../img/logo_light.png" class="mw-50" alt="be|seated logo">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>