<div class="container-md mt-4">
    <div class="row">
        <div class="col">
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button class="btn btn-primary col-4" type="button">Create Account</button>
            </div>
        </div>
    </div>
    <div class="col">
        Column
    </div>
    <div class="col">
        Column
    </div>
</div>
</div>