<div class="container-md mt-5 bg-light p-5">
    <div class="row d-flex ">
        <div class="col">
            <div class="card col-md-6" style="width: 20rem;">
                <img class="card-img-top" src="../img/chair-2.png" alt="chair">
                <div class="card-body bg-primary">
                    <img src="../img/logo_light.png" class="mw-100" alt="be|seated logo">
                    <p class="card-text text-light">Some quick example text to build on the card title and make up the
                        bulk of the card's
                        content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <h5 class="text-dark">Have an account? Sign In:</h5>
            <form class="">
                <div class="mb-3">
                    <input type="text" class="form-control" id="inputEmail" placeholder="email">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="inputPassword" placeholder="password">
                    <input type="checkbox" onclick="showPassword()"> Show Password
                </div>
                <div class="d-grid gap-3">
                    <button type="submit" class="btn btn-danger text-light loginForm">Sign in</button>
                    <button class="btn btn-dark text-light p-3" type="button">Create Account <img
                            src="../img/ArrowRight.png" class="ms-2">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>