<div class="container-sm mt-5 bg-light p-5 d-flex justify-content-center">

    <img src="../img/chair-6.png" class="col-3 me-3" />

    <div class="col-6 ms-3">

        <h1 class="fw-bold">Uh-Oh!</h1>

        <h2 class="border-bottom mb-3 pb-3">You have to be logged in to view this page.</h2>
        <h5>Click on a link at the top-right corner to create an account or sign in.</h5>
    </div>

</div>