<div class="container-md mt-5 bg-light p-5">
    {{> backToDashboard}}
    <h2>Select an Event to be redirected to the event QR Code</h2>
    <h3>You can print it or show it at your event</h3>
    <div class="row col-12">
    <div class="dropdown m-3">
      <a class="btn btn-danger dropdown-toggle text-light" href="#" role="button" id="dropdownMenuLink"
        data-bs-toggle="dropdown" aria-expanded="false">
        Select an Event
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {{#each events}}
        <li><a class="dropdown-item" href="https://api.qrserver.com/v1/create-qr-code/?data=https://beseated.herokuapp.com/guestPage?eventId={{this.eventId}}&amp;size=250x250" target="_blank">{{this.eventName}}</a></li>
        {{/each}}
      </ul>
    </div>
</div>

