<div class="container-md mt-5 bg-light p-5">
  {{> backToDashboard}}
  <div class="row col-12">
    <div class="dropdown m-3">
      <a class="btn btn-danger dropdown-toggle text-light shadow" href="#" role="button" id="dropdownMenuLink"
        data-bs-toggle="dropdown" aria-expanded="false">
        Select a Seating Chart to View
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {{#each events}}
        <li><a class="dropdown-item" href="?eventId={{this.eventId}}">{{this.eventName}}</a></li>
        {{/each}}
      </ul>
      <h1 id="renderEventName"></h1>
      <button id="update_Guest">modify guest seating</button>
      <button id="add_Guest">add new guest</button>
      <div class="border border-dark rounded  d-flex mt-2">
        <div class="d-flex flex-wrap justify-content-center">
          {{#each guests}}
          {{> table}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

{{> updateGuestModal}}
{{> addGuestModal}}

<script src="/js/eventheaders.js"></script>
<script src="/js/modal.js"></script>

