<div class="container-md mt-5 bg-light p-5">
  <div class="bg-primary d-flex">
    <div class="row col-12">
      <div class="dropdown m-3">
        <a class="btn btn-danger dropdown-toggle text-light" href="#" role="button" id="dropdownMenuLink"
          data-bs-toggle="dropdown" aria-expanded="false">
          Select a Seating Chart to View
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Seating Chart 1</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>

      <div class="col-2">
        {{#each table}}
          {{> table}}
        {{/each}}
      </div>
    </div>
  </div>
</div>